*{
	margin: 0;
	padding: 0;
	font-family:sans-serif;
	font-size: 18px; 
}
.hero{
	position: relative;
	background: wheat;
}
nav{
	display: flex;
	width: 90%;
	margin: auto;
	align-items: center;
	justify-content: space-between;
}
nav ul li{
	display: inline-block;
	list-style: none;
	margin: 10px 15px;
}
nav ul li a{
	text-decoration: none;
	color: black;
	font-weight: bold;
}
nav ul li a:hover{
	color: darkred;
}
h1{
	text-align: center; 
	font-family: sans-serif; 
	font-size: 35px;"
	font-weight: normal;
	position: relative;
	margin: 20px 0;
}
h1::before{
	content: '';
	position: absolute;
	width: 100px;
	height: 3px;
	background-color: saddlebrown;
	bottom: -10px;
	left: 50%;
	transform: translateX(-50%);
	animation: animate 4s linear infinite;
}
@keyframes animate{
	0%{
		width: 100px;
	}
	50%{
		width: 200px;
	}
	100%{
		width: 100px;
	}
}
.contact{
	padding: 10px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5px;
}
.contact .contactinfo{
	width: 80%;
}
.contact .contactinfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}
.container .contactinfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactinfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: black;
	flex-direction: column;
	font-weight: 300;
}
.container .contactinfo .box .text h3{
	font-weight: 500;
	color: #00bcd4;
}
.contactform{
	width: 40%;
	padding: 40px;
	position: absolute;
	margin-top: 10%;
	margin-left: 30%;
	background: #fff;
}
.contactform h2{
	font-size: 30px;
	color: black;
	font-weight: 500;
}
.contactform .inputbox{ 
	position: relative;
	width: 100%;
	margin-top: 10px;
}
.contactform .inputbox input,
.contactform .inputbox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid #333;
	outline: none;
	resize: none;
}
.contactform .inputbox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}
.contactform .inputbox input:focus ~ span,
.contactform .inputbox input:valid ~ span,
.contactform .inputbox textarea:focus ~ span,
.contactform .inputbox textarea:valid ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}
.contactform .inputbox input[type="submit"]
{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

 footer{
 	background: black;
 	height: auto;
 	width: 100%;
 	font-family: open sans;
 	padding-top: 40px;
 	color: white;
 	margin-top: 10%;

 }
 .footer-content{
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	flex-direction: column;
 	text-align: center;
 	 }
 .footer-content h3{
 	font-size: 18px;
 	font-weight: 400;
 	text-transform: capitalize;
 }
 .socials{
 	list-style: none;
 	display: flex;
 	align-items: center;
 	justify-content: center;
 	margin: 16px 0 48px 0;
 }
 .socials li{
 	margin: 0 20px;
 }
 .social a{
 	text-decoration: none;
 	color: white;
 }
 .socials a i {
 	font-size: 1.1rem;
 	transition: color .4s ease;
 }
 .socials a:hover i{
 	color: aqua;
 }